body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

h1 {
    color: black;
    text-align: center;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#calculatorMain {
    display: grid;
    border: solid 5px #333;
    height: 500px;
    width: 400px;
    background-color: #aaa;
    grid-template-areas: 
    "display display display"
    "calcOption calcOption calcOption"
    "buttons operators operators";
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 10%;
    padding: 0;
}
#resultWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: display;
    background-color: #eee;
    height: 5em;
    width: 370px;
    border-radius: 10px;
    border: solid 2px #333;
}

#calcResult {
    font-size: 24px;
    margin-right: 1em;
}

#numberWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 300px;
    width: 250px;
    grid-area: buttons;
    margin-top: 10px;
    gap: 5px 5px;
 
}

 #calculatorOptions {
     display: flex;
     height: 50px;
     width: 300px;
     align-items: center;
     justify-content: space-between;
     grid-area: calcOption;
     margin-top: 10px;
 }
#operators {
    display: grid;
    flex-direction: column;
    grid-area: operators;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 300px;
    width: 100px;
    margin-top: 10px;
    gap: 5px 5px
}

#clear, #backspace {
    border-radius: 10px;
    height: 2em;
    width: 100%;
    margin-right: 10px;
}

#clear:hover {
    background-color: #f44336;
    color: white;
}

#backspace:hover {
    background-color: #008cba;
    color: white;
}

.calculatorButtons, .optionButtons, .operatorButtons {
    border-radius: 5px;
    font-size: 22px;
}

.calculatorButtons:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}